#user AprocySanae
worker_processes 2;

error_log /home/AprocySanae/error/error.log;

worker_rlimit_nofile 1024;
events
{
	use epoll;
	worker_connections 65535;

}

http
{
	include        mime.types;
	default_type   application/octet-stream;
	charset                       utf-8;
	large_names_hash_bucket_size  128;
	client_max_body_size   8m
	tcp_nopush     on;
	tcp_nodelay    on;
	keepalive_timeout   120;

	gzip on; 
	gzip_min_length 1k; 
	gzip_buffers 4 16k; 
	gzip_http_version 1.0; 
	gzip_comp_level 2; 

	server
	{
		listen 80;
		server_name AprocySanae.jp1.rpvhost.net;

		location / {

		index www/page0.html;
		root /home/AprocySanae/web;
		}

	error_page 404 /404.html;
	location /404.html {
		root /home/AprocySanae/web/themes;

	}

	}

}