{% extends "layout.html" %}

{% block title %}{{post.Title}} - {{site.name}}{% endblock %}
{% block afterstyle %}
<link rel="canonical" href="{{post}}" />
{% if site.description %}<meta name="description" content="{{site.description }}" />{% endif %}
{% endblock %}

{% block main %}
<div class="hentry">
    <h1 class="entry-title">{{post.Title}}</h1>
    <div class="entry-meta">
        <time class="updated" datetime="{{post.Date}}">
            {{post.Date}}
        </time>
        <span class="author vcard">
            by <a class="url fn" href="{{site.homepage}}">{{site.author}}</a>
        </span>
    </div>
    <div class="entry-content">
        {{post.Content}}
    </div>

    <div class="entry-tags">
        {% for tag in post.Tags %}
        {{tag}}
        {%- endfor %}
    </div>

</div>
{%- endblock %}
