{% extends "layout.html" %}

{% block afterstyle %}
{% if description %}<meta name="description" content="{{description }}" />{% endif %}
{% endblock %}

{% block main %}
{% for post in item.items %}
<div class="hentry">
    <h2 class="entry-title">
    	<a href="./posts/{{post}}.html">{{post}}</a>
    </h2>
    <div class="entry-meta">
        <time class="updated" datetime="{{post.timestamp|xmldatetime}}">
            {{post.timestamp|xmldatetime}}
        </time>
        <span class="entry-author">
            by <a href="https://plus.google.com/113819291149083106836?rel=author">{{author}}</a>
        </span>
    </div>
    <div class="entry-content">
        {{post.abstrct|markdown}}
    </div>
</div>
{%- endfor %}
 
{% endblock %}

{% block footer%}
<ul style="list-style:none;padding:0;margin:0">
    {% if item.has_prev %}
             <li style="float:left"><a href="./{{item.prev_title}}.html">&laquo; 新しい記事</a></li>
            
    {% endif %}
    {% if item.has_next %}
       
            <li style="float:right"><a href="./{{item.next_title}}.html">古い記事 &raquo;</a></li>
    {% endif %}
         <div style="clear:both"></div>
            </ul>
{% endblock %}


