{% extends "layout.html" %}

{% block title %}{{post.Title}} - {{site.name}}{% endblock %}
{% block afterstyle %}
<link rel="canonical" href="{{post}}" />
{% if site.description %}<meta name="description" content="{{site.description }}" />{% endif %}
{% endblock %}

{% block main %}


<div class="hentry">
    <h2 class="entry-title">{{post.Title}}</h2>
    <div class="entry-meta">
        <time class="updated" datetime="{{post.Date}}">
            {{post.Date}}
        </time>
        <span class="author vcard">
            by <a class="url fn" href="{{site.homepage}}">{{site.author}}</a>
        </span>
    </div>

    <div class="entry-content">
        {{post.Content}}
    </div>

    <div class="entry-tags">
        {% for tag in post.Tags %}
        <a href="../tags.html#{{tag}}">{{tag}}<a>
        {%- endfor %}
    </div>


    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = '{{site.webShortName}}';
        var disqus_title = '{{post.Title}}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>

</div>


{% endblock %}
