{% extends "layout.html" %}

{% block title %}{{item.title}} - {{name}}{% endblock %}
{% block afterstyle %}
<link rel="canonical" href="{{item}}.html" />
{% endblock %}

{% block main %}

<div class="hentry">
    <h2 class="entry-title">{{item.title}}</h2>
    <div class="entry-meta">
        <time class="updated" datetime="{{item.timestamp|xmldatetime}}">
            {{item.timestamp|xmldatetime}}
        </time>
        <span class="author vcard">
            by <a href="https://plus.google.com/113819291149083106836?rel=author">{{author}}</a>
        </span>
    </div>

    <div class="entry-content">
        {{item.content|markdown}}
    </div>

    <div class="entry-tags">
        {% for tag in item.tags %}
        <a href="/{{out}}/tags.html#{{tag}}">{{tag}}<a>
        {%- endfor %}
    </div>


<!-- Duoshuo Comment BEGIN -->
<div class="ds-thread" data-thread-key="{{item.title}}" data-title="{{item.title}}" data-url="http://blog.kochiya.me/{{out}}/posts/{{item.title}}.html" data-author-key="AprocySanae"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"aprocysanae"};
        (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = 'http://static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] 
                || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
        </script>
<!-- Duoshuo Comment END -->
</div>


{% endblock %}
