{% extends "layout.html" %}

{% block title %}{{post.Title}} - {{site.name}}{% endblock %}
{% block afterstyle %}
<link rel="canonical" href="{{post}}" />
{% endblock %}

{% block main %}


<div class="hentry">
    <h2 class="entry-title">{{post.Title}}</h2>
    <div class="entry-meta">
        <time class="updated" datetime="{{post.Date}}">
            {{post.Date}}
        </time>
        <span class="author vcard">
            by <a href="https://plus.google.com/113819291149083106836?rel=author">{{site.author}}</a>
        </span>
    </div>

    <div class="entry-content">
        {{post.Content}}
    </div>

    <div class="entry-tags">
        {% for tag in post.Tags %}
        <a href="../tags.html#{{tag}}">{{tag}}<a>
        {%- endfor %}
    </div>


<!-- Duoshuo Comment BEGIN -->
<div class="ds-thread" data-thread-key="{{post.Title}}" data-title="{{post.Title}}" data-url="http://blog.kochiya.me/www/posts/{{post.Title}}.html" data-author-key="AprocySanae"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"aprocysanae"};
        (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = 'http://static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] 
                || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
        </script>
<!-- Duoshuo Comment END -->
</div>


{% endblock %}
